@model ApplicationRole
@{
    ViewData["Title"] = "add new role";
}
<h1>Add</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="@Model?.Name" class="form-control" />
                <span style="color:red" asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" class="btn btn-primary btn-md" style="font-weight:500" />
            </div>
        </form>

    </div>
</div>
<br />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
