@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<br />
<h2><strong>Users</strong></h2>
<body style="background-color:#f5f5fd ">
    @foreach (var item in Model)
    {
        <div style=" background-color: #ffc56d; border-radius: 10px; padding: 10px;">
                <h3>@item.UserName</h3>
            </div>
        <br />
    }

</body>


